---
layout: archive
title: "Courses"
permalink: /courses/
author_profile: true
---

{% include base_path %}


{% for post in site.courses %}
  {% include archive-single.html %}
{% endfor %}

If you are teaching a course on experiments and would like my lecture notes, data, and solution sets for the graduate or undergraduate experiments classes, please contact me.

Last year I taught an undergraduate lecture class on experimental design for social science with my new textbook, <i>Social Science Experiments: A Hands-on Introduction</i>. This coming year, I will teach my graduate experiments lecture class, using my co-authored textbook, <i>Field Experiments: Design, Analysis, and Interpretation</i>.
